In [49]:
import pandas as pd
df = pd.read_csv('/Users/amroa/Downloads/yelpdata/yelp-csv/yelp_academic_dataset_business.csv')
df.dropna(subset = ['business_id','stars', 'review_count', 'name', 'is_open'], inplace= True)
df

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'GoodForMeal': ""{'dessert': False, 'latenight...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"1210 8th Street SW, Unit 220","{'BusinessParking': ""{'garage': False, 'street...",fcXOEZdXYeZqnQ3lGlOXmg,"Local Services, Professional Services, Compute...",Calgary,"{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,51.041771,-114.081109,Nucleus Information Service,T2R 1L3,5,2.0,AB
3,"6955 N Durango Dr, Ste 1116","{'BusinessParking': ""{'garage': False, 'street...",f2ZWZPENViL92BrFsIgR6w,"Beauty & Spas, Hair Salons",Las Vegas,"{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'...",1,36.287312,-115.289540,Amazing Cuts,89149,116,4.5,NV
4,4 E University Dr,{},6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,NaN,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192604,521 St. Catherine Street W,"{'Ambience': ""{'romantic': False, 'intimate': ...",wWV90q48ugyxyXW6gZav8w,"Restaurants, Venezuelan, Latin American",Montréal,NaN,0,45.504597,-73.568456,Arepas,H3B 1A6,15,3.5,QC
192605,244 Victoria Street,{},phSaT3I_y6To1J2OdeFSUQ,"Arts & Entertainment, Performing Arts",Toronto,NaN,1,43.655290,-79.379541,Ed Mirvish Theatre,M5B 1V8,58,4.0,ON
192606,10210 South 50th Pl,NaN,oU6Q3ymg1Qsh1EUI6oQwQg,"Education, Middle Schools & High Schools",Phoenix,"{'Monday': '7:30-17:30', 'Tuesday': '7:30-17:3...",1,33.354284,-111.975538,BASIS Ahwatukee,85044,3,2.5,AZ
192607,"6670 S Tenaya Way, Ste 120, The Body Spa","{'BusinessParking': ""{'garage': False, 'street...",gdiOk0n7DmNE9w8xeHWkvw,"Beauty & Spas, Eyelash Service, Waxing, Esthet...",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,36.066952,-115.251008,Brows Redefined,89113,15,5.0,NV
192608,"14050 N 83rd Ave, Ste 290",NaN,Rv8s4io4G4mcUpiDbpzy7w,"Professional Services, Wills, Trusts, & Probat...",Peoria,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1,33.612226,-112.238145,Affordable Estate Planning,85381,3,5.0,AZ

In [50]:
import numpy as np
df = pd.DataFrame(df[['business_id','attributes']])
df = df.dropna()
df

,business_id,attributes
0,1SWheh84yJXfytovILXOAQ,{}
1,QXAEGFB4oINsVuTFxEYKFQ,"{'GoodForMeal': ""{'dessert': False, 'latenight..."
2,fcXOEZdXYeZqnQ3lGlOXmg,"{'BusinessParking': ""{'garage': False, 'street..."
3,f2ZWZPENViL92BrFsIgR6w,"{'BusinessParking': ""{'garage': False, 'street..."
4,6KgGE8B1RsR7jc9R5nuH0Q,{}
...,...,...
192601,zsrPJ7WD2OTrH1sbg2S7gg,{}
192603,Ul12enCzNT0G_jj5TCvJ8Q,{}
192604,wWV90q48ugyxyXW6gZav8w,"{'Ambience': ""{'romantic': False, 'intimate': ..."
192605,phSaT3I_y6To1J2OdeFSUQ,{}
192607,gdiOk0n7DmNE9w8xeHWkvw,"{'BusinessParking': ""{'garage': False, 'street..."

In [51]:
filtamb = df['attributes'].str.contains("Noise")
df = df[filtamb]
df['attributes']

1         {'GoodForMeal': "{'dessert': False, 'latenight...
11        {'Ambience': "{'touristy': False, 'hipster': F...
18        {'NoiseLevel': "'average'", 'Ambience': "{'rom...
21        {'BusinessParking': "{'garage': False, 'street...
25        {'NoiseLevel': "'quiet'", 'BusinessParking': "...
                                ...
192590    {'BusinessParking': "{'garage': False, 'street...
192592    {'BusinessParking': "{'garage': False, 'street...
192595    {'NoiseLevel': "u'average'", 'Ambience': "{'ro...
192597                           {'NoiseLevel': "u'quiet'"}
192604    {'Ambience': "{'romantic': False, 'intimate': ...
Name: attributes, Length: 43879, dtype: object

In [52]:
df.loc[18, 'attributes']

'{\'NoiseLevel\': "\'average\'", \'Ambience\': "{\'romantic\': False, \'intimate\': False, \'classy\': False, \'hipster\': False, \'divey\': False, \'touristy\': False, \'trendy\': False, \'upscale\': False, \'casual\': True}", \'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': True, \'dinner\': True, \'brunch\': False, \'breakfast\': False}", \'Music\': "{\'dj\': False, \'background_music\': False, \'no_music\': False, \'jukebox\': False, \'live\': False, \'video\': False, \'karaoke\': False}", \'BusinessParking\': "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': False, \'valet\': False}"}'

In [53]:
weights = {'very_loud':3, 'loud': 2, 'average': 1, 'quiet': 0}
def attributeNoiseToAid(attributes):
    splitAtAmbience = str(attributes).split("'NoiseLevel': ")
    if((splitAtAmbience[1]).startswith("'None'")):
        return -1
    beginIndex      = splitAtAmbience[1].find("'")
    endIndex        = splitAtAmbience[1].find("'", beginIndex + 1)
    mynoise = splitAtAmbience[1]
    return weights[mynoise[(beginIndex+1):endIndex]]

In [54]:
df['attributes'] = df['attributes'].apply(attributeNoiseToAid)

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
df.head(40)

                business_id  attributes
1    QXAEGFB4oINsVuTFxEYKFQ           2
11   YK8aOugv9mLrzBgJKP9biA           1
18   8Wm2NMAoukBC2wQR49E4ng           1
21   8HAsNLoSr3xi5rwQretp3w           0
25   JGM-SxW_vayu0fBch-U2FQ           0
31   GWCd4xlTdOwcaaSSu9b9XQ           1
36   omfSvRsQVhJkU_yB8udhIw           2
37   N0Tk9ORpX-gtbPNR0WoznQ           1
46   U7by1vfecuy6qF8-F4F-MQ           1
49   rsiW1dz9FD1EfNPoDfaDDQ           1
51   LHOa9n7JQCGgnMoA1NDbbw           0
56   uD1dQcPeYIkAPqjzQ79MrQ           2
58   5O7qB4gNmr3NgdYAuYbP4Q           0
63   kVXyz0mYd7NaGuGdM_VMeQ           0
86   BDCSaCKVEuQNtfgayiqbUg           0
87   SH1c1aFJl0uHVnVPEF-fTA           2
88   PVk7KKTlWRygSF6dExWYCg           1
89   wFGsC5Bgi6_Tbr4gvORCYw           2
90   8jOJmMw6Vfn8ug1nZstH3A           2
93   LH-_iinkV1XOxSuJMBqhmw           1
95   PsatZ8lzKEXOc_hImnYNNA           0
100  foezb6XCQ2_bWLd2M5LICA           1
103  rjlAUHT8B6KhKAmkZqS1xw           1
113  fqMAnoS2sTokz6lqBSmoCw           1
114  86Cq7KrcFUo1LGtNORfo1w           1
115  emyCP3Ry2SbpNrwRAtm9PQ           2
117  EJMrzeE8fraZGiNvdPzsnQ           0
121  vtkJXE_Vdz27rWm6mfAw6Q           1
124  4RFiHQ5-p3mR5RHFQh0PfA           1
127  h36qA5gnNTgByhxWx1aH-Q           1
132  0Ovh4Vn9ntMt5Ara-ZP2sA           1
136  8U9nnnInBAvQLaX5LHrJ0g           0
139  BdYEbF9z2IqaJ7R5bduxJw           2
140  RnyuG8Ngt1rr3mFD3oYicw           1
158  wtDLILBaj5BGEbYvWGfNUw           1
163  -20PsGUoi0cK3hKwtFoh2w           2
165  y1AM7MeCN3HaS7SHnxcBfQ           1
170  liGn7sPOvUuy3kcwbhRkbA           1
176  TKcq0hOqesiDOwQb-ZwFAw           1
194  A7gVn077Eb2B-yIKunLVpw           1

In [56]:
df.rename(columns = {'attributes': 'noiseLevel'}, inplace = True)

/Users/amroa/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [57]:
df

                   business_id  noiseLevel
1       QXAEGFB4oINsVuTFxEYKFQ           2
11      YK8aOugv9mLrzBgJKP9biA           1
18      8Wm2NMAoukBC2wQR49E4ng           1
21      8HAsNLoSr3xi5rwQretp3w           0
25      JGM-SxW_vayu0fBch-U2FQ           0
...                        ...         ...
192590  2_aYWG3cVnAXH6yHzGu05Q           1
192592  Gfa85o6JuT9uBqi9fqC-UA           1
192595  0OvM4_xU5cJYCo0bsbVEQw           1
192597  l8eWRWklljsi0LO7qXgRSg           0
192604  wWV90q48ugyxyXW6gZav8w           1

[43879 rows x 2 columns]

In [58]:
df.to_csv('hasNoiseLevelAB.csv', index = False)

In [59]:
df_noise = pd.DataFrame(df['noiseLevel'])
df_noise.drop_duplicates(keep = 'first', inplace = True) 
df_noise

      noiseLevel
1              2
11             1
21             0
238            3
3064          -1

In [60]:
df_noise.to_csv("noiseLevelAB.csv", index = False)